<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>mobile-app</title>

  </head>
  <body>
    <div id="app"></div>

  <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
  </body>
</html>
