<template>
  <div id="bascket" class="bascket">
    <div class="container">
      <div class="bascket-items">
        <div 
          class="bascket-item" 
          v-for="(item, index) in $store.state.shopingCartList"
          :key="index">
          <div class="item-cont">
            <div class="item-img">
              <img :src="axios.defaults.baseURL + item.image" alt>
            </div>
          </div>
          <div class="item-cont item-cont_text">
            <h2 class="item-title">{{ item.display_name }}</h2>
            <p class="item-weight">{{ item.weight + ' г' }}</p>
          </div>
          <div class="item-cont">
            <div class="item-count">
              <div class="item-controls">
                <button class="item-btn" 
                @click="item.itemsCount--">-</button>
                <span>{{ item.itemsCount }}</span>
                <button class="item-btn" 
                @click="item.itemsCount++">+</button>
              </div>
              <div class="item-total">
                <p>{{ parseInt(item.price * item.itemsCount) + ' руб' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bascket-total">
      <p>
        Всего:
        <span>{{ totalPrice }}</span>
      </p>
      <button class="button-default">Заказать</button>
    </div>
  </div>
</template>


<script>
export default {
  mounted() {
    console.log(this.$store.state.shopingCartList);
    
  },
  computed: {
    totalPrice() {
      let total = 0
      this.$store.state.shopingCartList.forEach(elem => {
        total += parseInt(elem.price * elem.itemsCount)
      })
      return total + ' руб'
    }
  },
};
</script>


<style lang="scss" scoped>
.bascket {
  color: #2f2f2f;
  min-height: calc(100vh - 60px);
}
.container {
  padding-bottom: 90px;
}
.bascket-items {
  width: 100%;
}
.bascket-item {
  display: flex;
  align-items: center;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 16px;
}
.item-cont {
  width: 33.33333%;
  height: 100%;
  &_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-left: 8px;
  }
}
.item-img {
  padding-top: 75%;
  position: relative;
  img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 3px;
  }
}
.item-title {
  font-size: 16px;
  margin-bottom: 4px;
  width: 100%;
}
.item-weight {
  color: #ff473a;
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
}
.item-count {
  padding-left: 8px;
}
.item-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 4px;
  span {
    font-family: Fira Sans Condensed;
    font-weight: normal;
    font-size: 22px;
    color: #383838;
  }
}
.item-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  outline: none;
  background-color: #ff473a;
  border: none;
  color: #ffffff;
  border-radius: 50%;
  font-size: 36px;
  line-height: 36px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Fira Sans, sans-serif;
  flex: 0 0 auto;
}
.item-total {
  display: flex;
  justify-content: center;
  p {
    font-family: Fira Sans;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #ff473a;
  }
}

.bascket-total {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 16px;
  background: #ffffff;
  box-shadow: 0px -1px 4px #d6d6d6;
  padding-left: 10px;
  padding-right: 10px;
  p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 8px;
    span {
      font-style: italic;
      color: #ff473a;
    }
  }
  button {
    width: 100%;
  }
}
</style>
