<template>
  <div id="booking" class="booking">
    <div class="container">
      <form action>
        <div class="form-group form-group_date">
          <label for="booking-date">Дата брони</label>
          <input 
            type="text"
            id="booking-date" 
            class="booking-date" 
            ref="bookingDate" 
            v-model="bookingDate">
        </div>

        <div class="form-group form-group_persons-num">
          <label for="persons-num">Количество персон</label>
          <div class="persons-num-cont">
            <input 
              type="text" 
              class="persons-num" 
              id="persons-num" 
              v-model="personsNum">
            <button type="button" @click="removePerson"><span>-</span></button>
            <button type="button" @click="addPerson"><span>+</span></button>
          </div>
        </div>

        <div class="form-group form-group_pref-time">
          <label>Предпочтиаемое время</label>
          <div 
            class="pref-time-cont">
            <div 
              class="pref-time-item"
              v-for="item in timeArr"
              :key="item.time">
              <input 
                type="radio" 
                v-model="prefTime" 
                :id="item.time" 
                :value="item.time"
                :disabled="!item.enabled">
              <label :for="item.time"><span>{{ item.time }}</span></label>
            </div>
          </div>
        </div>

        <div class="form-submit-cont">
          <button class="button-default">Забронировать</button>
        </div>
      </form>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      bookingDate: '',
      personsNum: 2,
      prefTime: {},
      timeArr: [
        { time: '12:00', enabled: false },
        { time: '12:30', enabled: true },
        { time: '13:00', enabled: true },
        { time: '13:30', enabled: false },
        { time: '14:00', enabled: true },
        { time: '14:30', enabled: false },
        { time: '15:00', enabled: true },
        { time: '15:30', enabled: true },
        { time: '16:00', enabled: true },
        { time: '16:30', enabled: true },
        { time: '17:00', enabled: true },
        { time: '17:30', enabled: true },
        { time: '18:00', enabled: true },
        { time: '18:30', enabled: false },
        { time: '19:00', enabled: false },
        { time: '19:30', enabled: true },
        { time: '20:00', enabled: true },
        { time: '20:30', enabled: true },
        { time: '21:00', enabled: true },
        { time: '21:30', enabled: true },
      ]
    }
  },

  methods: {
    addPerson() {
      if (this.personsNum >= 16) {
        return false
      } else {
        this.personsNum ++;
      }
    },
    removePerson() {
      if (this.personsNum <= 1) {
        return false
      } else {
        this.personsNum --;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.booking {
  color: #2f2f2f;
}
form {
  width: 100%;
  padding: 24px 16px;
}
label {
  font-family: Fira Sans Condensed;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  color: #2f2f2f;
  display: block;
  margin-bottom: 8px;
  padding-left: 8px;
}
input {
  opacity: 1;
  color: #2f2f2f;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  display: block;
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 19px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  font-size: 18px;
  outline: none;
  box-shadow: none;
  min-height: 40px;
}
.form-group {
  margin-bottom: 32px;
  &_date {
    input {
      padding-right: 50px;
      background-image: url("../assets/images/booking/calendar.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 16px) center;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 18px;
      font-size: 18px;
    }
  }
}
.persons-num-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  input {
    display: block;
    flex: 1 1 0px;
    margin-right: 8px;
    position: relative;
  }
  button {
    display: block;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: none;
    background-color: #FF473A;
    border: none;
    color: #ffffff;
    border-radius: 50%;
    font-size: 36px;
    line-height: 36px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Fira Sans, sans-serif;
    flex: 0 0 auto;
    &:first-of-type {
      margin-right: 4px;
    }
  }
}
.pref-time-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.pref-time-item {
  width: calc(20% - 2px);
  margin-right: 2px;
  margin-bottom: 2px;
  input {
    display: none;
    &:checked+label {
      color: #f2f2f2;
      background: #FF473A;
      border: none;
    }
    &:disabled+label {
      opacity: 0.5;
    }
  }
  label { 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border: 1px solid #DADADA;
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    margin: 0;
    transition: all ease 100ms;
    span {
      font-size: 14px;
    }
  }
}
</style>