<template>
  <div id="contacts" class="contacts">
    <div class="container">
      <div class="text-cont">
        <div class="text-group">
          <h3>Адрес</h3>
          <p>450071, г. Уфа, ул. Ростовская, 18</p>
        </div>
        <div class="text-group">
          <h3>Телефон</h3>
          <p>(347) 2-989-222</p>
          <p>8-963-13-69-222</p>
        </div>
        <div class="text-group">
          <h3>Электроннная почта</h3>
          <p>scoffice@mail.ru</p>
        </div>
      </div>

      <div class="map-cont">
        <div id="map" style="width:100%; height:260px"></div>
      </div>
    </div>
  </div>
</template>



<script>
export default {
  mounted() {
    // map init
    (() => {
      var map
      DG.then(function () {
        map = DG.map('map', {
          center: [54.72, 55.96],
          zoom: 15,
        })
      })
    })()
  },
}
</script>



<style lang="scss" scoped>
  .contacts {
    color: #2F2F2F;
  }
  .text-cont {
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 24px 16px;
    margin-bottom: 8px;
    h3 {
      margin: 0;
      margin-bottom: 4px;
      font-weight: 500;
      color: #777777;
    }
    p {
      margin-bottom: 4px;
    }
  }
  .text-group {
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
  .map-cont {
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 5px;
  }
</style>
