<template>
  <div class="dashboard">
    <PointsCard></PointsCard>
    <EventsCarousel></EventsCarousel>
  </div>
</template>



<script>
import EventsCarousel from '../components/EventsCarousel'
import PointsCard from '../components/PointsCard'
export default {
  components: {
    EventsCarousel,
    PointsCard,
  }
}
</script>

<style lang="scss" scoped>  
  .dashboard {
    padding-top: 60px;
  }
</style>

