<template>
  <div id="categoryList" class="category-list">
    <div class="container">
      <template v-if="$store.state.menuItemsLoaded">
        <div 
          class="item"
          v-for="(item, index) in  $store.state.menuItems[$router.currentRoute.params['id']].items"
          :key="item.id">
          <div class="item-header">
            <h3>{{ item.display_name }}</h3>
          </div>
          <div class="item-image-cont">
            <img :src="axios.defaults.baseURL + item.image" alt="">
            <div class="price-weight">
              <p class="price">{{ parseInt(item.price) }} ₽</p>
              <p class="weight">{{ item.weight }} г</p>
            </div>
          </div>
          <div class="item-description">
            <p>{{ item.description }}</p>
          </div>
          <div class="item-bascket-button">
            <button 
              :disabled="item.bascketStatus"
              class="button-default"
              :data-categoryPath="$route.params.id"
              :data-itemPath="index"
              @click="addToCart">В корзину</button>
          </div>
        </div>
      </template>
      
    </div>
  </div>
</template>



<script>
export default {
  methods: {
    addToCart(e) {
      const categorypath = e.target.dataset.categorypath
      const itempath = e.target.dataset.itempath
      e.target.innerText  = 'В корзине'
      // добавляем обьект в корзину 
      this.$store.state.shopingCartList.push(this.$store.state.menuItems[categorypath].items[itempath])
      // Добавляем bascketstatus к текущему обьекту
      this.$store.commit('setBascketStatus', { categorypath, itempath })

    }
  },
}
</script>


<style lang="scss" scoped>
  .item {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-bottom: 16px;
    color: #383838;
    padding-bottom: 16px;
  }
  .item-header {
    padding: 16px 12px;
    h3 {
      margin: 0;
      line-height: 24px;
      font-weight: 500;
    }
  }
  .item-image-cont {
    position: relative;
    width: 100%;
    padding-top: 65%;
    background-color: #ccc;
    background-image: url('../assets/images/svg/image-placeholder.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    img {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  .item-description {
    padding: 16px 12px;
  }
  .price-weight {
    padding: 4px 8px;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    position: absolute;
    left: 8px;
    top: 8px;
    .price, .weight {
      font-weight: 500;
      line-height: 1.1;
      font-size: 22px;
      color: #FF473A;
    }
    .weight {
      font-weight: 500;
      font-size: 12px;
      color: #777777;
    }
  }
</style>