<template>
  <div id="menu-categories" class="menu-categories">
    <div class="container">
      <router-link 
        v-for="(item, index) in $store.state.menuItems"
        class="categories-item-container"
        :id="item.id"
        tag="div"
        :key="item.id"
        :to="{
            path: '/MenuItems/' + index,
            query: {
              title: item.title
            }
          }"
        >
          <div class="categories-item">
            <div class="item-img">
              <div class="overlay"></div>
              <img :src="axios.defaults.baseURL + item.imgSrc" alt="">
            </div>
            <div class="item-title">
              <h2>{{ item.title }}</h2>
            </div>
          </div>
        </router-link>
    </div>
  </div>
</template>



<script>
export default {

}
</script>


<style lang="scss" scoped>
  .categories-item-container {
    margin-bottom: 10px;
    width: calc(50% - 5px);
    padding: 5px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    &:nth-of-type(odd) {
      margin-right: 10px;
    }
  }
  .categories-item {
    padding-top: 100%;
    position: relative;
  }
  .item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    background-image: url('../assets/images/svg/image-placeholder.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .item-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
</style>

