<template>
  <div class="news">
    <div class="container">
      <template v-if="$store.state.newsItemsLoaded">
        <div class="news-item" v-for="(item, index) in $store.state.newsItems" :key="index">
          <div class="img_info-cont">
            <img :src="axios.defaults.baseURL + item.image" alt>
            <div class="date_title">
              <p>{{ item.start_date }}</p>
              <h2>{{ item.title }}</h2>
            </div>
          </div>
          <div class="text-cont">
            <p>{{ item.text }}</p>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>


<script>
export default {};
</script>


<style lang="scss" scoped>
.news {
  color: #383838;
}
.news-item {
  padding: 5px;
  padding-bottom: 16px;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
  border-radius: 3px;
  position: relative;
}
.img_info-cont {
  width: 100%;
  padding-top: 65%;
  position: relative;
  margin-bottom: 16px;
  background-color: #ccc;
  background-image: url("../assets/images/svg/image-placeholder.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.date_title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px 12px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  p {
    color: #ff473a;
  }
  h2 {
    color: #ffffff;
  }
}
.text-cont {
  padding-left: 12px;
  padding-right: 12px;
}
</style>
