<template>
  <div class="reg" id="registration">
    <div class="reg__content">
      <div class="reg__logo">
        <img src="../assets/images/svg/big-logo.svg" alt>
      </div>


        <div v-show="regStatus == 'enter-phone'">
          <div class="reg__action-text">
            <p>Введите номер мобильного телефона</p>
          </div>
          <div class="reg__input-cont">
            <div class="reg__input-group">
              <span class="reg__pre-input">+7</span>
              <input type="text" id="phone-input" v-model.lazy="phoneNum">
            </div>
          </div>
          <div class="reg__action-descr">
            <p>Для регестрации в приложении введите номер телефона. Вам будет выслан SMS-код для входа.</p>
          </div>
          <div class="reg-button__cont">
            <button class="btn-dark" @click="sendPhone">Далее</button>
          </div>
        </div>

        <div v-show="regStatus == 'enter-code'">
          <div class="reg__action-text">
            <p>Введите код из смс сообщения</p>
          </div>
          <div class="reg__input-cont">
            <div class="reg__input-group">
              <input type="password" id="sms-code-input" v-model="smsCode">
            </div>
          </div>
          <div class="reg__action-descr">
            <p>Если что-то пошло не так <a href="" @click="regStatus = 'enter-phone'">попробуйте еще раз</a></p>
          </div>
          <div class="reg-button__cont">
            <button class="btn-dark" @click="sendCode">Далее</button>
          </div>
        </div>

    </div>
  </div>
</template>

<script>
const Cleave = require("cleave.js");
require("../../node_modules/cleave.js/dist/addons/cleave-phone.ru.js");
import axios from "axios";

export default {
  data() {
    return {
      regStatus: "enter-phone",
      phoneNum: "",
      smsCode: ""
    };
  },

  methods: {
    sendPhone() {
      this.regStatus = "enter-code";
      axios({
        method: "post",
        url: `http://u0569536.plsk.regruhosting.ru/api/users/register?phone=%2B${"7" + this.phoneNum.split(" ").join("")}`
      }).then(response => {
        if (response.statusText == "Created") {
          console.log(response);
        }
      });
    },

    sendCode() {
      axios({
        method: "post",
        url: "http://u0569536.plsk.regruhosting.ru/api/users/auth",
        data: {
          phone: "+7" + this.phoneNum.split(" ").join(""),
          code: this.smsCode.split(" ").join("")
        }
      }).then(response => {
        if(response.statusText == 'OK') {
          this.$router.push('Dashboard')
        }
      });
    }

    // send code
    // axios({
    //   method: 'post',
    //   url: 'http://u0569536.plsk.regruhosting.ru/api/users/auth',
    //   data: {
    //     phone: '+79874946684',
    //     code: '686077'
    //   }
    // }).then(response => console.log(response));

    // getId() {
    //   axios({
    //     method: "get",
    //     url: "http://u0569536.plsk.regruhosting.ru/api/users/currentUser",
    //     headers: {
    //       Authorization:
    //         "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6Iis3OTg3NDk0NjY4NCIsIm5hbWVpZCI6IjM3NjgwNjUwLTlkNGEtNGM4OC1hMTQyLTIzYWUwNzIyZjllNiIsInJvbGUiOiJBZG1pbiIsIm5iZiI6MTU1NDQ0MDM3OCwiZXhwIjoxNTg1OTc2Mzc4LCJpYXQiOjE1NTQ0NDAzNzh9.rnUYey-E7ieppvGIbZr-ysKuiyxu0A7fsoV-omtwdwk"
    //     }
    //   }).then(response => {
    //     console.log(response);
    //   });
    // }
  },

  mounted() {
    // this.sendPhone();
    // this.getId();
    console.log(Cleave);
    
    const poneClaeve = new Cleave("#phone-input", {
      phone: true,
      phoneRegionCode: "ru"
    });
  }
};

// token eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfb…5MDN9.WcL-rZwJ4cQTeUMObVAhd0Yq5cpP3a6ym9HLZvg2TEI
</script>




<style lang="scss">
// font-family: "Fira Sans Condensed", sans-serif;
// font-family: "Fira Sans", sans-serif;
// @import url("./scss/common.scss");

.reg {
  background-image: url("../assets/images/images/main-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}
.reg__logo {
  text-align: center;
  img {
    width: 100%;
    max-width: 340px;
  }
}
.reg__action-text {
  font-size: 24px;
  padding-left: 16px;
  padding-right: 16px;
  p {
    padding-top: 32px;
    padding-bottom: 24px;
    margin: 0;
  }
}

.reg__input-group {
  font-size: 18px;
  line-height: 1.1;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;

  input {
    padding: 10px 24px;
    border-radius: 25px;
    border: 1px solid #dadada;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    width: calc(100% - 70px);

    &[type="password"] {
      letter-spacing: 0.25rem;
      width: 124px;
    }
  }
}

.reg__pre-input {
  padding: 10px 24px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  border: 1px solid #dadada;
  width: 66px;
  margin-right: 4px;
}

.reg__action-descr {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 24px;
  font-weight: lighter;
}

.reg-button__cont {
  text-align: center;
}
.btn-dark {
  padding: 12px 82px;
  background-color: #282828;
  color: #dadada;
  border: none;
  font-size: 18px;
  border-radius: 25px;
  outline: none;
  font-family: "Fira Sans Condensed", sans-serif;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
</style>
