<template>
  <button class="button-default">{{ btnLabel }}</button>
</template>

<script>
export default {
  props: ['btnLabel']
}
</script>

<style lang="scss" scoped>
  .button-default {
    display: block;
    background-color: #FF473A;
    border: none;
    font-size: 18px;
    text-align: center;
    color: #fcfcfc;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    outline: none;
    border-radius: 24px;
    padding: 12px 36px;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
  }
</style>

