<template>
  <transition name="fade" appear>
    <div class="event-carousel" v-if="$store.state.newsItemsLoaded">
      <!-- Swiper -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" 
            v-for="(item, index) in $store.state.newsItems" :key="index">
            <div class="event-content">
              <img class="event-img" 
                :src="axios.defaults.baseURL + item.image" alt>
              <p class="event-date">{{ item.start_date }}</p>
              <h2 class="event-title">{{ item.title }}</h2>
              <p class="event-text">{{ item.short_info }}</p>
            </div>
          </div>
        </div>
      </div>

      <router-link to="/News" tag="div">
        <BtnDefault btnLabel="Все события и акции"></BtnDefault>
      </router-link>
    </div>
  </transition>
</template>



<script>
import Swiper from "swiper";
import SwiperCss from "../../node_modules/swiper/dist/css/swiper.css";

export default {
  data() {
    return {
      swiper: ""
    };
  },

  mounted() {
    this.$nextTick(function() {
      this.swiper = new Swiper(".swiper-container", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 20,
          stretch: 10,
          depth: 100,
          modifier: 1,
          slideShadows: true,
          lazy: true
        }
      });
    });
  },

  updated() {
    this.$nextTick(function() {
      this.swiper = new Swiper(".swiper-container", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 20,
          stretch: 10,
          depth: 100,
          modifier: 1,
          slideShadows: true,
          lazy: true
        }
      });
    });
  }
};
</script>



<style lang="scss">
.swiper-container {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}
.swiper-slide {
  width: calc(100% - 20px);
  height: 45vh;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  border: 5px solid #ffffff;
  .button-default {
    width: 100%;
  }
}

.event-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.event-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.4);
}
.event-date {
  color: #FF473A;
}
event-overlay .event-text {
  margin-bottom: 16px;
  width: 100%;
}

.button-default {
  margin: auto;
}

.event-img,
.event-date,
.event-title,
.event-text {
  width: 100%;
}
</style>
