<template>
  <div class="header">
    <div class="burger-container">
      <button 
        class="burger-btn"
        @click="burgerClick">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="logo-container">
      <img src="../assets/images/svg/big-logo.svg" alt="" height="41">
    </div>

    <div class="buttons-container">
      <router-link to="/Bascket" class="shoping-cart">
        <transition name="fade-scale">
          <span v-show="$store.state.shopingCartList.length > 0">{{ $store.state.shopingCartList.length }}</span>
        </transition>
      </router-link>
    </div>

    <transition name="fade">
      <div class="navigation-table" v-if="$route.meta.navTable">
        <a
          class="navigation-table__back" 
          @click="goBack"></a>
        <h3>{{ navTitle }}</h3>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: ['navTitle'],

  methods: {
    burgerClick () {
      this.$store.state.navMenuActive = true;
    },
    goBack() {
      this.$router.push(this.$route.meta.backPath);
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #171717;
  padding: 10px 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.burger-container, .logo-container, .buttons-container {
  width: 33.333%;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .shoping-cart {
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/images/svg/shopping-cart.svg');
    position: relative;
    span {
      position: absolute;
      // padding-top: 4px;
      background-color: #fff;
      width: 21px;
      height: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      top: -12px;
      left: 50%;
      font-size: 14px;
      line-height: 14px;
      font-weight: 500;
      color: #FF473A;
    }
  }
}

.burger-btn {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-right: 16px;
  padding-left: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  span {
    display: block;
    background-color: #fff;
    height: 2px;
    border-radius: 3px;
    transition: all 200ms ease;
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
    &:nth-of-type(1) {
      width: 18px;
    }
    &:nth-of-type(2) {
      width: 24px;
    }
    &:nth-of-type(3) {
      width: 22px;
    }
  }
}

.navigation-table {
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 3px 3px;
  h3 {
    margin: 0; 
  }
}
.navigation-table__back {
  height: 100%;
  width: 46px;
  border-right: 1px solid #D2D2D2;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../assets/images/svg/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  h3 {
    line-height: 22px;
  }
}
</style>