<template>
  <div class="nav-menu"
    ref="navMenu" 
    :class="menuActiveClass">
    <div class="nav-menu-head">
      <div class="nav-menu-head__logo">
        <img src="../assets/images/svg/big-logo.svg" alt="" height="41">
      </div>
      <button 
        class="nav-menu-close" 
        @click="closeMenu"></button>
    </div>

    <div class="nav-menu-links">
      <router-link 
        to="/sinebruhovapp/News" 
        @click.native="closeMenu">
        <img src="../assets/images/nav-menu/event-icon.svg" alt="">События и акции</router-link>

      <router-link 
        to="/sinebruhovapp/MenuCtegories" 
        @click.native="closeMenu">
        <img src="../assets/images/nav-menu/menu-list-icon.svg" alt="">Меню</router-link>

        <router-link 
          to="/sinebruhovapp/Booking" 
          @click.native="closeMenu"><img src="../assets/images/nav-menu/booking-icon.svg" alt="">Бронь</router-link>

        <router-link 
          to="/sinebruhovapp/Contacts" 
          @click.native="closeMenu"><img src="../assets/images/nav-menu/marker-icon.svg" alt="">Контакты</router-link>

      <a href="#"><img src="../assets/images/nav-menu/avatar-icon.svg" alt="">Личный кабинет</a>
    </div>
  </div>
</template>



<script>
export default {
  methods: {
    closeMenu(e) {
      e.preventDefault();
      this.$store.state.navMenuActive = false;
    }
  },
  
  computed: {
    menuActiveClass() {
      return { active: this.$store.state.navMenuActive }
    }
  },

  mounted() {
    var hammertime = new Hammer(this.$refs.navMenu);
    hammertime.on('swipeleft', ev => {
      this.$store.state.navMenuActive = false;
    });
  },
}
</script>



<style lang="scss" scoped>
  .nav-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #fff;
    background: #171717;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
    width: 78%;
    transform: translateX(calc(-100% - 4px));
    transition: transform ease 200ms;
    &.active {
      transform: translateX(0%);
    }
  }

  .nav-menu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 9px;
    border-bottom: 1px solid #000;
    &__logo {
      display: flex;
      align-items: center;
    }
  }

  .nav-menu-close {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    background-image: url('../assets/images/nav-menu/close-icon-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    outline: none;
  }


  .nav-menu-links {
    padding-left: 16px;
    margin-top: 32px;
    a {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      color: #ffffff;
      text-decoration: none;
      font-family: Fira Sans Condensed, sans-serif;
      font-size: 20px;
      margin-bottom: 8px;
      font-weight: normal;
      img {
        margin-right: 8px;
      }
    }
  }
</style>