<template>
  <div class="points-card-container">
    <div class="points-card">
      <div class="points-card-text">
        <h2>Бонусные баллы</h2>
        <p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum.</p>
      </div>
      <div class="points-card-points-cont">
        <div class="points-card-points" ref="pointsCircle">
          <span ref="pointsNumber">120</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {

}
</script>



<style lang="scss" scoped>
.points-card-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 24px;
}

.points-card {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 24px 16px;
  color: #2f2f2f;
  background: #282828;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  &::before {
    content: '';
    position: absolute;
    width: 35%;
    height: 2px;
    background-color: #DADADA;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.points-card-text {
  width: 63%;
  font-size: 14px;
  padding-right: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  color: #DADADA;
  h2 {
    width: 100%;
  }
  p {
    width: 100%;
  }
}
.points-card-points-cont {
  border: 2px solid #DADADA;
  border-radius: 50%;
  width: 37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.points-card-points {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-image: url('../assets/images/svg/coins.svg');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  margin: auto;
  span {
    position: absolute;
    font-size: 32px;
    color: #DADADA;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>


