<template>
  <div id="app">
    <Header :navTitle="$route.meta.title || $route.query.title"></Header>
    <NavMenu></NavMenu>

    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import Header from "./components/Header";
import NavMenu from "./components/NavMenu";
export default {
  components: {
    Header,
    NavMenu
  },

  // created() {
  //   // Подгружаем данные в store при превой загрузке приложения
  //   this.axios.get("/menu/categories").then(response => {
  //     this.$store.state.menuItems = response.data;
  //     this.$store.state.menuItemsLoaded = true;
  //   });
  //   this.axios.get("/news").then(response => {
  //     this.$store.state.newsItems = response.data;
  //     this.$store.state.newsItemsLoaded = true;
  //   });
  // }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,500,600,700|Fira+Sans:100,200,300,400,500,600,700&subset=cyrillic");
body {
  margin: 0;
  padding: 0px;
  min-height: 100vh;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  background-color: #1F1F1F;
}

body * {
  box-sizing: border-box;
}

#app {
  // padding-top: 60px;
}
html {
  scroll-behavior: unset;
}
body {
  margin: 0;
  padding: 0;
  color: #fcfcfc;
  line-height: 1.2;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  min-height: 100vh;
  scroll-behavior: unset;
}
p,
h2 {
  margin-top: 0;
}
p {
  margin: 0;
  font-weight: normal;
}
h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}
h3 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  font-size: 20px;
  color: #383838;
}
.container {
  padding-top: 58px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.button-default {
  display: block;
  background-color: #ff473a;
  border: none;
  font-size: 18px;
  text-align: center;
  color: #fcfcfc;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  outline: none;
  border-radius: 24px;
  padding: 12px 36px;
  font-weight: 300;
  font-family: "Fira Sans", sans-serif;
  transition: opacity 150ms ease;
  &:disabled {
    opacity: 0.5;
  }
}

// aniamtions
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(10px);
}

// aniamtions
.fade-scale-enter-active,
.fade-scale-leave-active {
  transition: all 0.35s;
}
.fade-scale-enter, .fade-scale-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: scale(0.8);
}
</style>
