// aniamtions
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(10px);
}

// aniamtions
.fade-scale-enter-active,
.fade-scale-leave-active {
  transition: all 0.35s;
}
.fade-scale-enter, .fade-scale-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: scale(0.8);
}