@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,500,600,700|Fira+Sans:300,400,500,600,700&subset=cyrillic");

body {
  margin: 0;
  padding: 0px;
  min-height: 100vh;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
}

body * {
  box-sizing: border-box;
}

#app {
  height: 100vh;
  width: 100%;
}